.bottom-navigation {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 24px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.add {
  position: absolute;
  padding: 8px;
  display: flex;
  top: -28px;
  aspect-ratio: 1;
  background-color: var(--background-paper);
  box-shadow: none;
  border-radius: 100%;

  .add-button {
    border-radius: 50%;
    box-shadow: none;
  }
}

.hidden-button {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
