.wishPic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  overflow: hidden;
  margin-bottom: 12px;
}

.wishCard {
  position: relative;
  height: 100%;
  width: 100%;

  &.loading {
    opacity: 0.5;
  }
}

.backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.linearProgress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.action {
  height: fit-content;
  width: fit-content;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.link {
  text-decoration: none;
}
